label {
    display: flex;
    width: 100%;
    padding: 15px;

    background-color: rgb(0, 138, 90);
    color: white;
    font-size: 30px;
}

input, button {
    display: flex;
    margin: 5px;

    border: 1px solid;
    padding: 5px;
    border-radius: 10px;

    background-color: lightgray;
}